*{
  box-sizing: border-box;
}

.background-img{
  background-image: url('notepad.png');
  background-repeat:no-repeat;
  background-position: center;
  overflow: hidden;
}
.main{
  display:flex;
  width:auto;
  height:auto;
  overflow: hidden;
}

.links{
  width:400px;
  height:600px;
  margin-left:40%;
  margin-top:20%;
  overflow:hidden;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 18px;
}
