*{
  box-sizing:border-box;
}
body{
  background-color:rgb(193, 221, 237);
}
.main{
  background-color: rgb(193, 221, 237);
  width:100%;
  height:100vh;
  display:flex;
  flex-direction: column;
  gap:300px;
}

.sun{
  background-color:rgb(252, 251, 107);
  width:250px;
  height:250px;
  border-radius: 50%;
}

.grass{
  background-color:rgb(140, 227, 115);
  height:30%;
  display:flex;
  justify-content: right;
  align-items:right;
  padding-top:100px;
}

.trash{
  background-color: rgb(29, 24, 32);
  height:100px;
  width:100px;
  display:flex;
  text-align: center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
