*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:rgb(0, 0, 0);
  height:100vh;
  overflow:hidden;
  display: flex;
}
.flex{
  background-color: rgb(0, 0, 0);
  width:100%;
  height:100%;
  display:flex;
  align-content:center;
  justify-content: space-evenly;
}

.text{
  /* position:fixed; */
  transform:translateY(-100vh);
  font-size: 10px;
  color: rgb(107, 240, 0);
  animation: fall 5s linear infinite;
}

.left{
  background-color: rgb(0, 0, 0);
  width:80%;
  height:100%;
  display:flex;
  /* align-content:left; */
  justify-content: center;
  /* transform:translateY(-100vh); */
}

.right{
  background-color: rgb(0, 0, 0);
  width:100%;
  height:100%;
  display:flex;
  /* align-content:left; */
  justify-content: space-between;
  /* transform:translateY(-100vh); */
}


.text:nth-of-type(2) {
  animation-delay:2s;
}

.text:nth-of-type(3) {
  animation-delay:3s;
}

.text:nth-of-type(4) {
  animation-delay:5s;
}

.text:nth-of-type(5){
  animation-delay:6s;
}

.text:nth-of-type(6){
  animation-delay:7s;
}

.text:nth-of-type(7){
  animation-delay:8s;
}

.text:nth-of-type(8){
  animation-delay:.5s;
}

.text:nth-of-type(9){
  animation-delay:9s;
}

.text:nth-of-type(10){
  animation-delay:10s;
}

.text:nth-of-type(11){
  animation-delay:11s;
}

.text:nth-of-type(12){
  animation-delay:12s;
}

.text:nth-of-type(13){
  animation-delay:13s;
}

.text:nth-of-type(14){
  animation-delay:14s;
}

.text:nth-of-type(15){
  animation-delay:15s;
}

.text:nth-of-type(16){
  animation-delay:16s;
}

.text:nth-of-type(17){
  animation-delay:17s;
}

.text:nth-of-type(18){
  animation-delay:18s;
}

.text:nth-of-type(19){
  animation-delay:19s;
}

.text:nth-of-type(20){
  animation-delay:14s;
}

.text:nth-of-type(21){
  animation-delay:15s;
}

.text:nth-of-type(22){
  animation-delay:9.5s;
}

.text:nth-of-type(23){
  animation-delay:8.5s;
}

.text:nth-of-type(24){
  animation-delay:7.5s;
}

.text:nth-of-type(25){
  animation-delay:5.5s;
}

.text:nth-of-type(26){
  animation-delay:3.5s;
}



@keyframes fall{
  0%{
    transform:translateY(-100vh);
  }
  75%{
    transform:translateY(90vh);
  }
  100%{
    transform: translateY(70vw);
  }
}
